---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="Get a Free Quote | Custom Apparel & Embroidery Services - LA" Description="Request a free quote for custom embroidery, screen printing, DTG, and more. Quality and High-volume.  Get high-quality apparel customization today!">
  <Navbar client:load />
  <div class="container mx-auto p-4">
  <h1>Get You Free Quote</h1>
<script>window.enableEventObserver=true</script>
<script src="https://cdn03.jotfor.ms/static/prototype.forms.js?v=3.3.60417" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/static/jotform.forms.js?v=3.3.60417" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/js/punycode-1.4.1.min.js?v=3.3.60417" type="text/javascript" defer></script>
<script src="https://cdn01.jotfor.ms/s/umd/8e99869c352/for-widgets-server.js?v=3.3.60417" type="text/javascript"></script>
<script type="text/javascript">	JotForm.newDefaultTheme = false;
	JotForm.extendsNewTheme = false;
	JotForm.singleProduct = false;
	JotForm.newPaymentUIForNewCreatedForms = false;
	JotForm.texts = {"confirmEmail":"E-mail does not match","pleaseWait":"Please wait...","validateEmail":"You need to validate this e-mail","confirmClearForm":"Are you sure you want to clear the form","lessThan":"Your score should be less than or equal to","incompleteFields":"There are incomplete required fields. Please complete them.","required":"This field is required.","requireOne":"At least one field required.","requireEveryRow":"Every row is required.","requireEveryCell":"Every cell is required.","email":"Enter a valid e-mail address","alphabetic":"This field can only contain letters","numeric":"This field can only contain numeric values","alphanumeric":"This field can only contain letters and numbers.","cyrillic":"This field can only contain cyrillic characters","url":"This field can only contain a valid URL","currency":"This field can only contain currency values.","fillMask":"Field value must fill mask.","uploadExtensions":"You can only upload following files:","noUploadExtensions":"File has no extension file type (e.g. .txt, .png, .jpeg)","uploadFilesize":"File size cannot be bigger than:","uploadFilesizemin":"File size cannot be smaller than:","gradingScoreError":"Score total should only be less than or equal to","inputCarretErrorA":"Input should not be less than the minimum value:","inputCarretErrorB":"Input should not be greater than the maximum value:","maxDigitsError":"The maximum digits allowed is","minCharactersError":"The number of characters should not be less than the minimum value:","maxCharactersError":"The number of characters should not be more than the maximum value:","freeEmailError":"Free email accounts are not allowed","minSelectionsError":"The minimum required number of selections is ","maxSelectionsError":"The maximum number of selections allowed is ","pastDatesDisallowed":"Date must not be in the past.","dateLimited":"This date is unavailable.","dateInvalid":"This date is not valid. The date format is {format}","dateInvalidSeparate":"This date is not valid. Enter a valid {element}.","ageVerificationError":"You must be older than {minAge} years old to submit this form.","multipleFileUploads_typeError":"{file} has invalid extension. Only {extensions} are allowed.","multipleFileUploads_sizeError":"{file} is too large, maximum file size is {sizeLimit}.","multipleFileUploads_minSizeError":"{file} is too small, minimum file size is {minSizeLimit}.","multipleFileUploads_emptyError":"{file} is empty, please select files again without it.","multipleFileUploads_uploadFailed":"File upload failed, please remove it and upload the file again.","multipleFileUploads_onLeave":"The files are being uploaded, if you leave now the upload will be cancelled.","multipleFileUploads_fileLimitError":"Only {fileLimit} file uploads allowed.","dragAndDropFilesHere_infoMessage":"Drag and drop files here","chooseAFile_infoMessage":"Choose a file","maxFileSize_infoMessage":"Max. file size","generalError":"There are errors on the form. Please fix them before continuing.","generalPageError":"There are errors on this page. Please fix them before continuing.","wordLimitError":"Too many words. The limit is","wordMinLimitError":"Too few words.  The minimum is","characterLimitError":"Too many Characters.  The limit is","characterMinLimitError":"Too few characters. The minimum is","ccInvalidNumber":"Credit Card Number is invalid.","ccInvalidCVC":"CVC number is invalid.","ccInvalidExpireDate":"Expire date is invalid.","ccInvalidExpireMonth":"Expiration month is invalid.","ccInvalidExpireYear":"Expiration year is invalid.","ccMissingDetails":"Please fill up the credit card details.","ccMissingProduct":"Please select at least one product.","ccMissingDonation":"Please enter numeric values for donation amount.","disallowDecimals":"Please enter a whole number.","restrictedDomain":"This domain is not allowed","ccDonationMinLimitError":"Minimum amount is {minAmount} {currency}","requiredLegend":"All fields marked with * are required and must be filled.","geoPermissionTitle":"Permission Denied","geoPermissionDesc":"Check your browser's privacy settings.","geoNotAvailableTitle":"Position Unavailable","geoNotAvailableDesc":"Location provider not available. Please enter the address manually.","geoTimeoutTitle":"Timeout","geoTimeoutDesc":"Please check your internet connection and try again.","selectedTime":"Selected Time","formerSelectedTime":"Former Time","cancelAppointment":"Cancel Appointment","cancelSelection":"Cancel Selection","noSlotsAvailable":"No slots available","slotUnavailable":"{time} on {date} has been selected is unavailable. Please select another slot.","multipleError":"There are {count} errors on this page. Please correct them before moving on.","oneError":"There is {count} error on this page. Please correct it before moving on.","doneMessage":"Well done! All errors are fixed.","invalidTime":"Enter a valid time","doneButton":"Done","reviewSubmitText":"Review and Submit","nextButtonText":"Next","prevButtonText":"Previous","seeErrorsButton":"See Errors","notEnoughStock":"Not enough stock for the current selection","notEnoughStock_remainedItems":"Not enough stock for the current selection ({count} items left)","soldOut":"Sold Out","justSoldOut":"Just Sold Out","selectionSoldOut":"Selection Sold Out","subProductItemsLeft":"({count} items left)","startButtonText":"START","submitButtonText":"Submit","submissionLimit":"Sorry! Only one entry is allowed. <br> Multiple submissions are disabled for this form.","reviewBackText":"Back to Form","seeAllText":"See All","progressMiddleText":"of","fieldError":"field has an error.","error":"Error"};
	JotForm.isFormViewTrackingAllowed = true;
	JotForm.replaceTagTest = true;
	JotForm.uploadServerURL = "https://upload.jotform.com/upload";

   JotForm.setConditions([{"action":[{"id":"action_1577136304240","visibility":"Show","isError":false,"field":"33"},{"id":"action_1577136284199","visibility":"Show","isError":false,"field":"34"}],"id":"1577136318672","index":"1","link":"Any","priority":"1","terms":[{"id":"term_1577136284199","field":"6","operator":"equals","value":"Embroidery","isError":false}],"type":"field"},{"action":[{"id":"action_1577135981207","visibility":"Show","isError":false,"field":"32"}],"id":"1577136025971","index":"2","link":"Any","priority":"2","terms":[{"id":"term_1577135981207","field":"6","operator":"notEquals","value":"Embroidery","isError":false}],"type":"field"},{"action":[{"id":"action_1577128151182","visibility":"ShowMultiple","isError":false,"fields":["15","26","16","17","22","27","28","29","20","2"]}],"disabled":"1","id":"1577128211589","index":"3","link":"Any","priority":"3","terms":[{"id":"term_1577128151182","field":"6","operator":"equals","value":"Embroidery","isError":false}],"type":"field"}]);	JotForm.clearFieldOnHide="disable";
	JotForm.submitError="jumpToFirstError";
	JotForm.isFullSource = true;

	JotForm.init(function(){
	/*INIT-START*/
if (window.JotForm && JotForm.accessible) $('input_9').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_11').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_15').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_31').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_39').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_41').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_34').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_35').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_42').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_43').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_44').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_45').setAttribute('tabindex',0);
      JotForm.alterTexts(undefined);
	/*INIT-END*/
	});

   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,null,{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},null,{"description":"","name":"email","qid":"4","subLabel":"","text":"E-mail","type":"control_email"},null,{"description":"","name":"name6","qid":"6","text":"Which services are you interested in?","type":"control_checkbox"},null,null,{"description":"","name":"name","qid":"9","subLabel":"","text":"Name","type":"control_textbox"},null,{"description":"","name":"phoneNumber","qid":"11","subLabel":"","text":"Phone Number","type":"control_textbox"},null,null,null,{"description":"","name":"quantityDesired","qid":"15","subLabel":"","text":"Quantity desired - 10 piece minimum","type":"control_textbox"},{"description":"","name":"name16","qid":"16","text":"Do you want to...","type":"control_checkbox"},{"description":"","name":"name17","qid":"17","text":"Do you...","type":"control_checkbox"},null,{"name":"clickTo19","qid":"19","text":"* Upload the art files below","type":"control_text"},{"name":"typeA","qid":"20","text":"","type":"control_widget"},null,{"name":"clickTo","qid":"22","text":"Upload Art Files","type":"control_text"},{"name":"clickTo23","qid":"23","text":"If you would like to receive a quote, please provide the following information:\n$300 min. order requirement for new clients","type":"control_text"},{"name":"divider","qid":"24","type":"control_divider"},null,{"name":"whatIs","qid":"26","text":"What is the deadline for your project","type":"control_widget"},{"name":"input27","qid":"27","text":"","type":"control_widget"},{"name":"input28","qid":"28","text":"","type":"control_widget"},{"name":"input29","qid":"29","text":"","type":"control_widget"},{"description":"","name":"designPlacement30","qid":"30","subLabel":"","text":"Design Placement","type":"control_dropdown"},{"description":"","name":"designSize31","qid":"31","subLabel":"ie: 5\"w x 5\" h","text":"Design Size","type":"control_textbox"},null,{"description":"","name":"embroideryThread33","qid":"33","subLabel":"","text":"Embroidery Thread Type","type":"control_dropdown"},{"description":"","name":"printingOr","qid":"34","subLabel":"","text":"Printing or Embroidery Color\u002Fs","type":"control_textbox"},{"description":"","mde":"No","name":"pleaseAdd","qid":"35","subLabel":"","text":"Please Add Specific Information Regarding Your Project...","type":"control_textarea","wysiwyg":"Disable"},{"description":"","name":"typeOf36","qid":"36","subLabel":"T-shirt","text":"Type of Item","type":"control_dropdown"},{"description":"","name":"itemFabric","qid":"37","subLabel":"100% Cotton","text":"Item Fabric","type":"control_dropdown"},{"description":"","name":"secondDesign38","qid":"38","subLabel":"","text":"Second Design Placement","type":"control_dropdown"},{"description":"","name":"secondDesign","qid":"39","subLabel":"ie: 5\"w x 5\" h","text":"Second Design Size","type":"control_textbox"},{"description":"","name":"thirdDesign40","qid":"40","subLabel":"","text":"Third Design Placement","type":"control_dropdown"},{"description":"","name":"thirdDesign","qid":"41","subLabel":"ie: 5\"w x 5\" h","text":"Third Design Size","type":"control_textbox"},{"description":"","name":"legalCompany","qid":"42","subLabel":"","text":"Legal Company Name and Office Number","type":"control_textbox"},{"description":"","name":"companyPhysical","qid":"43","subLabel":"","text":"Company Physical and Mailing Addresses","type":"control_textbox"},{"description":"","name":"companyPrincipal","qid":"44","subLabel":"","text":"Company Principal (responsible for payment too)","type":"control_textbox"},{"description":"","name":"resaleNumber","qid":"45","subLabel":"","text":"Resale Number if Available (if items are for resale)","type":"control_textbox"}]);}, 20); 
</script>
<link href="https://cdn01.jotfor.ms/static/formCss.css?3.3.60417" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/stylebuilder/static/form-common.css?v=7a6d59e
"/>
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/nova.css?3.3.60417" />
<style type="text/css">@media print{*{-webkit-print-color-adjust: exact !important;color-adjust: exact !important;}.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}
.form-all {
  margin: 0 auto; /* Centers the form */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px; /* Adjust width as needed */
  width: 100%;}
</style>


<link id="custom-font" type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Coda:light,lightitalic,normal,italic,bold,bolditalic" />
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/54a7a9e325d790551f8b4567.css?v=3.3.60417&themeRevisionID=57debb589a11c716be8b4567"/>
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_feature.css?3.3.60417" />
<style type="text/css">
@import '//fonts.googleapis.com/css?family=Coda:light,lightitalic,normal,italic,bold,bolditalic';

    .form-label-left{
        width:150px;
    }
    .form-line{
        padding-top:0px;
        padding-bottom:0px;
    }
    .form-label-right{
        width:150px;
    }
    .form-all{
        width:400px;
        color:rgb(255, 255, 255) !important;
        font-family:'Coda';
        font-size:17px;
    }
</style>

<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
.form-label.form-label-auto {
        
      display: block;
      float: none;
      text-align: left;
      width: 100%;
    
      }/*PREFERENCES STYLE*/
    .form-all {
      font-family: Coda, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: block;
    float: none;
    text-align: left;
    width: 100%;
  
    }
  
    .form-line {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    .form-all {
      max-width: 400px;
      width: 100%;
    }
  
    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
      width: 150px;
    }
  
    .form-all {
      font-size: 17px
    }
  
    .supernova .form-all, .form-all {
      background-color: rgba(255,255,255,0.09);
    }
  
    .form-all {
      color: rgb(255, 255, 255);
    }
    .form-header-group .form-header {
      color: rgb(255, 255, 255);
    }
    .form-header-group .form-subHeader {
      color: rgb(255, 255, 255);
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
      color: rgb(255, 255, 255);
    }
    .form-sub-label {
      color: 1a1a1a;
    }
  
  .supernova {
    background-color: #000000;
  }
  .supernova body {
    background: transparent;
  }
  
    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: rgba(255, 255, 255, 0);
    }
  
      
    .supernova {
      background-repeat: no-repeat;
      background-size:cover;
      background-attachment: fixed;
      background-position: center top;
    }

      .supernova, #stage {
        background-image: none;
      }
    
      .form-all {
        background-image: none;
      }
    /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/
    /* Injected CSS Code */
</style>

<form class="jotform-form" onsubmit="return typeof testSubmitFunction !== 'undefined' && testSubmitFunction();" action="https://submit.jotform.com/submit/72746320627154" method="post" name="form_72746320627154" id="72746320627154" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="72746320627154" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" /><input type="hidden" id="jsExecutionTracker" name="jsExecutionTracker" value="build-date-1737643903735" /><input type="hidden" id="submitSource" name="submitSource" value="unknown" /><input type="hidden" id="buildDate" name="buildDate" value="1737643903735" /><input type="hidden" name="uploadServerUrl" value="https://upload.jotform.com/upload" /><input type="hidden" name="eventObserver" value="1" />
  <div role="main" class="form-all">
    <ul class="form-section page-section" role="presentation">
      <li class="form-line" data-type="control_text" id="id_23">
        <div id="cid_23" class="form-input-wide">
          <div id="text_23" class="form-html" data-component="text" tabindex="-1">
            <p style="text-align: center;"><strong><span style="font-size: 14pt;">If you would like to receive a quote, please provide the following information:</span></strong></p>
            <p style="text-align: center;">$300 min. order requirement for new clients</p>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_24">
        <div id="cid_24" class="form-input-wide">
          <div class="divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#e6e6e6;height:1px;margin-left:0px;margin-right:0px;margin-top:2px;margin-bottom:2px"></div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_9"><label class="form-label form-label-top form-label-auto" id="label_9" for="input_9" aria-hidden="false"> Name </label>
        <div id="cid_9" class="form-input-wide"> <input type="text" id="input_9" name="q9_name" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_9" value="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_11"><label class="form-label form-label-top form-label-auto" id="label_11" for="input_11" aria-hidden="false"> Phone Number<span class="form-required">*</span> </label>
        <div id="cid_11" class="form-input-wide jf-required"> <input type="text" id="input_11" name="q11_phoneNumber" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_11" required="" value="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_4"><label class="form-label form-label-top form-label-auto" id="label_4" for="input_4" aria-hidden="false"> E-mail<span class="form-required">*</span> </label>
        <div id="cid_4" class="form-input-wide jf-required"> <input type="email" id="input_4" name="q4_email" class="form-textbox validate[required, Email]" data-defaultvalue="" autoComplete="section-input_4 email" size="30" data-component="email" aria-labelledby="label_4" required="" value="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_checkbox" id="id_6"><label class="form-label form-label-top form-label-auto" id="label_6" aria-hidden="false"> Which services are you interested in?<span class="form-required">*</span> </label>
        <div id="cid_6" class="form-input-wide jf-required">
          <div class="form-single-column" role="group" aria-labelledby="label_6" data-component="checkbox"><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_0" name="q6_name6[]" required="" value="Embroidery" /><label id="label_input_6_0" for="input_6_0">Embroidery</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_1" name="q6_name6[]" required="" value="Fabric Printing" /><label id="label_input_6_1" for="input_6_1">Fabric Printing</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_2" name="q6_name6[]" required="" value="Heat Transfer" /><label id="label_input_6_2" for="input_6_2">Heat Transfer</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_3" name="q6_name6[]" required="" value="Patches" /><label id="label_input_6_3" for="input_6_3">Patches</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_4" name="q6_name6[]" required="" value="Photographic Embroidery" /><label id="label_input_6_4" for="input_6_4">Photographic Embroidery</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_5" name="q6_name6[]" required="" value="Promotional Apparel/ Products" /><label id="label_input_6_5" for="input_6_5">Promotional Apparel/ Products</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_6" name="q6_name6[]" required="" value="Screen Printing" /><label id="label_input_6_6" for="input_6_6">Screen Printing</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_7" name="q6_name6[]" required="" value="Sublimation/Digital Printing" /><label id="label_input_6_7" for="input_6_7">Sublimation/Digital Printing</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_8" name="q6_name6[]" required="" value="Table Throws" /><label id="label_input_6_8" for="input_6_8">Table Throws</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_6" type="checkbox" class="form-checkbox validate[required]" id="input_6_9" name="q6_name6[]" required="" value="Wide Format Printing" /><label id="label_input_6_9" for="input_6_9">Wide Format Printing</label></span><span class="form-checkbox-item" style="clear:left"><input type="checkbox" class="form-checkbox-other form-checkbox validate[required]" name="q6_name6[other]" id="other_6" tabindex="0" aria-label="Other" value="other" /><label id="label_other_6" style="text-indent:0" for="other_6"><span class="jfHiddenTextLabel">Other</span> </label><input type="text" class="form-checkbox-other-input form-textbox" name="q6_name6[other]" data-otherhint="Other" size="15" id="input_6" placeholder="Other" /><br /></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_19">
        <div id="cid_19" class="form-input-wide">
          <div id="text_19" class="form-html" data-component="text" tabindex="-1">
            <p><span style="color: #ff0000;"><strong>*</strong></span> Upload the art files below</p>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_15"><label class="form-label form-label-top form-label-auto" id="label_15" for="input_15" aria-hidden="false"> Quantity desired - 10 piece minimum<span class="form-required">*</span> </label>
        <div id="cid_15" class="form-input-wide jf-required"> <input type="text" id="input_15" name="q15_quantityDesired" data-type="input-textbox" class="form-textbox validate[required, Numeric]" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_15" required="" value="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_widget" id="id_26"><label class="form-label form-label-top form-label-auto" id="label_26" for="input_26" aria-hidden="false"> What is the deadline for your project<span class="form-required">*</span> </label>
        <div id="cid_26" class="form-input-wide jf-required">
          <div data-widget-name="Date Picker" style="width:100%;text-align:Left;overflow-x:auto" data-component="widget-field"><iframe data-client-id="52934dbf3be147110a000030" title="Date Picker" frameBorder="0" scrolling="no" allowtransparency="true" allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen" data-type="iframe" class="custom-field-frame" id="customFieldFrame_26" src="" style="max-width:260px;border:none;width:100%;height:50px" data-width="260" data-height="50"></iframe>
            <div class="widget-inputs-wrapper"><input id="input_26" class="form-hidden form-widget widget-required " type="hidden" name="q26_whatIs" value="" /><input id="widget_settings_26" class="form-hidden form-widget-settings" type="hidden" data-version="2" value="%5B%7B%22name%22%3A%22dateFormat%22%2C%22value%22%3A%22m%2Fd%2Fy%22%7D%2C%7B%22name%22%3A%22todayDate%22%2C%22value%22%3A%22No%22%7D%5D" /></div>
            <script type="text/javascript">
              setTimeout(function()
              {
                function renderWidget()
                {
                  var _cFieldFrame = document.getElementById("customFieldFrame_26");
                  if (_cFieldFrame)
                  {
                    _cFieldFrame.onload = function()
                    {
                      if (typeof widgetFrameLoaded !== 'undefined')
                      {
                        widgetFrameLoaded(26,
                        {
                          "formID": 72746320627154
                        }, undefined)
                      }
                    };
                    _cFieldFrame.src = "//widgets.jotform.io/pickers/datepicker.html?qid=26&isOpenedInPortal=undefined&isOpenedInAgent=undefined&align=Left&ref=" +
                      encodeURIComponent(window.location.protocol + "//" + window.location.host) + '' + '' + '' +
                      '&injectCSS=' + encodeURIComponent(window.location.search.indexOf("ndt=1") > -1);
                    _cFieldFrame.addClassName("custom-field-frame-rendered");
                  }
                }
                if (false)
                {
                  var _interval = setInterval(function()
                  {
                    var dataMode = document.querySelector('html').getAttribute('data-mode');
                    if (dataMode === 'fillMode')
                    {
                      renderWidget()
                      clearInterval(_interval);
                    }
                  }, 1000);
                }
                else
                {
                  renderWidget();
                }
              }, 0);
            </script>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_checkbox" id="id_16"><label class="form-label form-label-top form-label-auto" id="label_16" aria-hidden="false"> Do you want to...<span class="form-required">*</span> </label>
        <div id="cid_16" class="form-input-wide jf-required">
          <div class="form-single-column" role="group" aria-labelledby="label_16" data-component="checkbox"><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_16" type="checkbox" class="form-checkbox validate[required]" id="input_16_0" name="q16_name16[]" required="" value="Provide your own artwork" /><label id="label_input_16_0" for="input_16_0">Provide your own artwork</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_16" type="checkbox" class="form-checkbox validate[required]" id="input_16_1" name="q16_name16[]" required="" value="Have us create artwork" /><label id="label_input_16_1" for="input_16_1">Have us create artwork</label></span></div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_36"><label class="form-label form-label-top form-label-auto" id="label_36" for="input_36" aria-hidden="false"> Type of Item<span class="form-required">*</span> </label>
        <div id="cid_36" class="form-input-wide jf-required"> <span class="form-sub-label-container" style="vertical-align:top"><select class="form-dropdown validate[required]" id="input_36" name="q36_typeOf36" style="width:150px" data-component="dropdown" required="" aria-label="Type of Item">
              <option value=""></option>
              <option value="T-shirt">T-shirt</option>
              <option value="Polo">Polo</option>
              <option value="Hoodie">Hoodie</option>
              <option value="Jacket">Jacket</option>
              <option value="Beanie">Beanie</option>
              <option value="Cap">Cap</option>
              <option value="Legging">Legging</option>
              <option value="Pant">Pant</option>
              <option value="Scarf/ Wrap">Scarf/ Wrap</option>
              <option value="Apron">Apron</option>
              <option value="Bag">Bag</option>
              <option value="Shoe">Shoe</option>
              <option value="Other">Other</option>
              <option value=""></option>
            </select><label class="form-sub-label" for="input_36" id="sublabel_input_36" style="min-height:13px">T-shirt</label></span> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_37"><label class="form-label form-label-top form-label-auto" id="label_37" for="input_37" aria-hidden="false"> Item Fabric<span class="form-required">*</span> </label>
        <div id="cid_37" class="form-input-wide jf-required"> <span class="form-sub-label-container" style="vertical-align:top"><select class="form-dropdown validate[required]" id="input_37" name="q37_itemFabric" style="width:150px" data-component="dropdown" required="" aria-label="Item Fabric">
              <option value=""></option>
              <option value="100% Cotton">100% Cotton</option>
              <option value="100% Polyeter">100% Polyeter</option>
              <option value="100% Rayon">100% Rayon</option>
              <option value="Polyester / Cotton">Polyester / Cotton</option>
              <option value="Polyester/ Cotton/ Rayon">Polyester/ Cotton/ Rayon</option>
              <option value="Lace">Lace</option>
              <option value="Other">Other</option>
              <option value=""></option>
            </select><label class="form-sub-label" for="input_37" id="sublabel_input_37" style="min-height:13px">100% Cotton</label></span> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_31"><label class="form-label form-label-top form-label-auto" id="label_31" for="input_31" aria-hidden="false"> Design Size </label>
        <div id="cid_31" class="form-input-wide"> <span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_31" name="q31_designSize31" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_31 sublabel_input_31" value="" /><label class="form-sub-label" for="input_31" id="sublabel_input_31" style="min-height:13px">ie: 5&quot;w x 5&quot; h</label></span> </div>
      </li>
      <li class="form-line" data-type="control_dropdown" id="id_30"><label class="form-label form-label-top form-label-auto" id="label_30" for="input_30" aria-hidden="false"> Design Placement </label>
        <div id="cid_30" class="form-input-wide"> <select class="form-dropdown" id="input_30" name="q30_designPlacement30" style="width:150px" data-component="dropdown" aria-label="Design Placement">
            <option value=""></option>
            <option value="Front Center">Front Center</option>
            <option value="Front Left">Front Left</option>
            <option value="Front Right">Front Right</option>
            <option value="Right Sleeve">Right Sleeve</option>
            <option value="Left Sleeve">Left Sleeve</option>
            <option value="Back Center">Back Center</option>
            <option value="Back Left">Back Left</option>
            <option value="Back Right">Back Right</option>
            <option value="Back Lower">Back Lower</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_39"><label class="form-label form-label-top form-label-auto" id="label_39" for="input_39" aria-hidden="false"> Second Design Size </label>
        <div id="cid_39" class="form-input-wide"> <span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_39" name="q39_secondDesign" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_39 sublabel_input_39" value="" /><label class="form-sub-label" for="input_39" id="sublabel_input_39" style="min-height:13px">ie: 5&quot;w x 5&quot; h</label></span> </div>
      </li>
      <li class="form-line" data-type="control_dropdown" id="id_38"><label class="form-label form-label-top form-label-auto" id="label_38" for="input_38" aria-hidden="false"> Second Design Placement </label>
        <div id="cid_38" class="form-input-wide"> <select class="form-dropdown" id="input_38" name="q38_secondDesign38" style="width:150px" data-component="dropdown" aria-label="Second Design Placement">
            <option value=""></option>
            <option value="Front Center">Front Center</option>
            <option value="Front Left">Front Left</option>
            <option value="Front Right">Front Right</option>
            <option value="Right Sleeve">Right Sleeve</option>
            <option value="Left Sleeve">Left Sleeve</option>
            <option value="Back Center">Back Center</option>
            <option value="Back Left">Back Left</option>
            <option value="Back Right">Back Right</option>
            <option value="Back Lower">Back Lower</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_41"><label class="form-label form-label-top form-label-auto" id="label_41" for="input_41" aria-hidden="false"> Third Design Size </label>
        <div id="cid_41" class="form-input-wide"> <span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_41" name="q41_thirdDesign" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_41 sublabel_input_41" value="" /><label class="form-sub-label" for="input_41" id="sublabel_input_41" style="min-height:13px">ie: 5&quot;w x 5&quot; h</label></span> </div>
      </li>
      <li class="form-line" data-type="control_dropdown" id="id_40"><label class="form-label form-label-top form-label-auto" id="label_40" for="input_40" aria-hidden="false"> Third Design Placement </label>
        <div id="cid_40" class="form-input-wide"> <select class="form-dropdown" id="input_40" name="q40_thirdDesign40" style="width:150px" data-component="dropdown" aria-label="Third Design Placement">
            <option value=""></option>
            <option value="Front Center">Front Center</option>
            <option value="Front Left">Front Left</option>
            <option value="Front Right">Front Right</option>
            <option value="Right Sleeve">Right Sleeve</option>
            <option value="Left Sleeve">Left Sleeve</option>
            <option value="Back Center">Back Center</option>
            <option value="Back Left">Back Left</option>
            <option value="Back Right">Back Right</option>
            <option value="Back Lower">Back Lower</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_checkbox" id="id_17"><label class="form-label form-label-top form-label-auto" id="label_17" aria-hidden="false"> Do you...<span class="form-required">*</span> </label>
        <div id="cid_17" class="form-input-wide jf-required">
          <div class="form-single-column" role="group" aria-labelledby="label_17" data-component="checkbox"><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_17" type="checkbox" class="form-checkbox validate[required]" id="input_17_0" name="q17_name17[]" required="" value="Have the blanks/ garments" /><label id="label_input_17_0" for="input_17_0">Have the blanks/ garments</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input aria-describedby="label_17" type="checkbox" class="form-checkbox validate[required]" id="input_17_1" name="q17_name17[]" required="" value="Want us to provide the blanks/ garments" /><label id="label_input_17_1" for="input_17_1">Want us to provide the blanks/ garments</label></span></div>
        </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_textbox" id="id_34"><label class="form-label form-label-top form-label-auto" id="label_34" for="input_34" aria-hidden="false"> Printing or Embroidery Color/s </label>
        <div id="cid_34" class="form-input-wide"> <input type="text" id="input_34" name="q34_printingOr" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_34" value="" /> </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_dropdown" id="id_33"><label class="form-label form-label-top form-label-auto" id="label_33" for="input_33" aria-hidden="false"> Embroidery Thread Type </label>
        <div id="cid_33" class="form-input-wide"> <select class="form-dropdown" id="input_33" name="q33_embroideryThread33" style="width:150px" data-component="dropdown" aria-label="Embroidery Thread Type">
            <option value=""></option>
            <option value="Shiny ">Shiny </option>
            <option value="Matte">Matte</option>
            <option value="Metallic">Metallic</option>
          </select> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_35"><label class="form-label form-label-top form-label-auto" id="label_35" for="input_35" aria-hidden="false"> Please Add Specific Information Regarding Your Project... </label>
        <div id="cid_35" class="form-input-wide"> <textarea id="input_35" class="form-textarea" name="q35_pleaseAdd" cols="40" rows="6" data-component="textarea" aria-labelledby="label_35"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_42"><label class="form-label form-label-top form-label-auto" id="label_42" for="input_42" aria-hidden="false"> Legal Company Name and Office Number </label>
        <div id="cid_42" class="form-input-wide"> <input type="text" id="input_42" name="q42_legalCompany" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_42" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_43"><label class="form-label form-label-top form-label-auto" id="label_43" for="input_43" aria-hidden="false"> Company Physical and Mailing Addresses </label>
        <div id="cid_43" class="form-input-wide"> <input type="text" id="input_43" name="q43_companyPhysical" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_43" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_44"><label class="form-label form-label-top form-label-auto" id="label_44" for="input_44" aria-hidden="false"> Company Principal (responsible for payment too) </label>
        <div id="cid_44" class="form-input-wide"> <input type="text" id="input_44" name="q44_companyPrincipal" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_44" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_45"><label class="form-label form-label-top form-label-auto" id="label_45" for="input_45" aria-hidden="false"> Resale Number if Available (if items are for resale) </label>
        <div id="cid_45" class="form-input-wide"> <input type="text" id="input_45" name="q45_resaleNumber" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_45" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_22">
        <div id="cid_22" class="form-input-wide">
          <div id="text_22" class="form-html" data-component="text" tabindex="-1">
            <p>Upload Art Files</p>
          </div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-1" data-type="control_widget" id="id_27"><label class="form-label form-label-top" id="label_27" for="input_27" aria-hidden="true"> </label>
        <div id="cid_27" class="form-input-wide">
          <div data-widget-name="Image Upload Preview" style="width:100%;text-align:Left;overflow-x:auto" data-component="widget-field"><iframe data-client-id="5295b800485bd19f5d000005" title="Image Upload Preview" frameBorder="0" scrolling="no" allowtransparency="true" allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen" data-type="iframe" class="custom-field-frame" id="customFieldFrame_27" src="" style="max-width:300px;border:none;width:100%;height:120px" data-width="300" data-height="120"></iframe>
            <div class="widget-inputs-wrapper"><input id="input_27" class="form-hidden form-widget  " type="hidden" name="q27_input27" value="" /><input id="widget_settings_27" class="form-hidden form-widget-settings" type="hidden" data-version="2" value="%5B%7B%22name%22%3A%22buttontitle%22%2C%22value%22%3A%22Select%20Image%22%7D%2C%7B%22name%22%3A%22uploadtitle%22%2C%22value%22%3A%22Upload%20Image%22%7D%5D" /></div>
            <script type="text/javascript">
              setTimeout(function()
              {
                function renderWidget()
                {
                  var _cFieldFrame = document.getElementById("customFieldFrame_27");
                  if (_cFieldFrame)
                  {
                    _cFieldFrame.onload = function()
                    {
                      if (typeof widgetFrameLoaded !== 'undefined')
                      {
                        widgetFrameLoaded(27,
                        {
                          "formID": 72746320627154
                        }, undefined)
                      }
                    };
                    _cFieldFrame.src = "//widgets.jotform.io/imagepreview/?qid=27&isOpenedInPortal=undefined&isOpenedInAgent=undefined&align=Left&ref=" +
                      encodeURIComponent(window.location.protocol + "//" + window.location.host) + '' + '' + '' +
                      '&injectCSS=' + encodeURIComponent(window.location.search.indexOf("ndt=1") > -1);
                    _cFieldFrame.addClassName("custom-field-frame-rendered");
                  }
                }
                if (false)
                {
                  var _interval = setInterval(function()
                  {
                    var dataMode = document.querySelector('html').getAttribute('data-mode');
                    if (dataMode === 'fillMode')
                    {
                      renderWidget()
                      clearInterval(_interval);
                    }
                  }, 1000);
                }
                else
                {
                  renderWidget();
                }
              }, 0);
            </script>
          </div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-2" data-type="control_widget" id="id_28"><label class="form-label form-label-top" id="label_28" for="input_28" aria-hidden="true"> </label>
        <div id="cid_28" class="form-input-wide">
          <div data-widget-name="Image Upload Preview" style="width:100%;text-align:Left;overflow-x:auto" data-component="widget-field"><iframe data-client-id="5295b800485bd19f5d000005" title="Image Upload Preview" frameBorder="0" scrolling="no" allowtransparency="true" allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen" data-type="iframe" class="custom-field-frame" id="customFieldFrame_28" src="" style="max-width:300px;border:none;width:100%;height:120px" data-width="300" data-height="120"></iframe>
            <div class="widget-inputs-wrapper"><input id="input_28" class="form-hidden form-widget  " type="hidden" name="q28_input28" value="" /><input id="widget_settings_28" class="form-hidden form-widget-settings" type="hidden" data-version="2" value="%5B%7B%22name%22%3A%22buttontitle%22%2C%22value%22%3A%22Select%20Image%22%7D%2C%7B%22name%22%3A%22uploadtitle%22%2C%22value%22%3A%22Upload%20Image%22%7D%5D" /></div>
            <script type="text/javascript">
              setTimeout(function()
              {
                function renderWidget()
                {
                  var _cFieldFrame = document.getElementById("customFieldFrame_28");
                  if (_cFieldFrame)
                  {
                    _cFieldFrame.onload = function()
                    {
                      if (typeof widgetFrameLoaded !== 'undefined')
                      {
                        widgetFrameLoaded(28,
                        {
                          "formID": 72746320627154
                        }, undefined)
                      }
                    };
                    _cFieldFrame.src = "//widgets.jotform.io/imagepreview/?qid=28&isOpenedInPortal=undefined&isOpenedInAgent=undefined&align=Left&ref=" +
                      encodeURIComponent(window.location.protocol + "//" + window.location.host) + '' + '' + '' +
                      '&injectCSS=' + encodeURIComponent(window.location.search.indexOf("ndt=1") > -1);
                    _cFieldFrame.addClassName("custom-field-frame-rendered");
                  }
                }
                if (false)
                {
                  var _interval = setInterval(function()
                  {
                    var dataMode = document.querySelector('html').getAttribute('data-mode');
                    if (dataMode === 'fillMode')
                    {
                      renderWidget()
                      clearInterval(_interval);
                    }
                  }, 1000);
                }
                else
                {
                  renderWidget();
                }
              }, 0);
            </script>
          </div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-3" data-type="control_widget" id="id_29"><label class="form-label form-label-top" id="label_29" for="input_29" aria-hidden="true"> </label>
        <div id="cid_29" class="form-input-wide">
          <div data-widget-name="Image Upload Preview" style="width:100%;text-align:Left;overflow-x:auto" data-component="widget-field"><iframe data-client-id="5295b800485bd19f5d000005" title="Image Upload Preview" frameBorder="0" scrolling="no" allowtransparency="true" allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen" data-type="iframe" class="custom-field-frame" id="customFieldFrame_29" src="" style="max-width:300px;border:none;width:100%;height:120px" data-width="300" data-height="120"></iframe>
            <div class="widget-inputs-wrapper"><input id="input_29" class="form-hidden form-widget  " type="hidden" name="q29_input29" value="" /><input id="widget_settings_29" class="form-hidden form-widget-settings" type="hidden" data-version="2" value="%5B%7B%22name%22%3A%22buttontitle%22%2C%22value%22%3A%22Select%20Image%22%7D%2C%7B%22name%22%3A%22uploadtitle%22%2C%22value%22%3A%22Upload%20Image%22%7D%5D" /></div>
            <script type="text/javascript">
              setTimeout(function()
              {
                function renderWidget()
                {
                  var _cFieldFrame = document.getElementById("customFieldFrame_29");
                  if (_cFieldFrame)
                  {
                    _cFieldFrame.onload = function()
                    {
                      if (typeof widgetFrameLoaded !== 'undefined')
                      {
                        widgetFrameLoaded(29,
                        {
                          "formID": 72746320627154
                        }, undefined)
                      }
                    };
                    _cFieldFrame.src = "//widgets.jotform.io/imagepreview/?qid=29&isOpenedInPortal=undefined&isOpenedInAgent=undefined&align=Left&ref=" +
                      encodeURIComponent(window.location.protocol + "//" + window.location.host) + '' + '' + '' +
                      '&injectCSS=' + encodeURIComponent(window.location.search.indexOf("ndt=1") > -1);
                    _cFieldFrame.addClassName("custom-field-frame-rendered");
                  }
                }
                if (false)
                {
                  var _interval = setInterval(function()
                  {
                    var dataMode = document.querySelector('html').getAttribute('data-mode');
                    if (dataMode === 'fillMode')
                    {
                      renderWidget()
                      clearInterval(_interval);
                    }
                  }, 1000);
                }
                else
                {
                  renderWidget();
                }
              }, 0);
            </script>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_widget" id="id_20">
        <div id="cid_20" class="form-input-wide jf-required">
          <div data-widget-name="Google reCAPTCHA" style="width:100%;text-align:Left;overflow-x:auto" data-component="widget-field"><iframe data-client-id="54aa6b0c89d04cfa36000005" title="Google reCAPTCHA" frameBorder="0" scrolling="no" allowtransparency="true" allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen" data-type="iframe" class="custom-field-frame" id="customFieldFrame_20" src="" style="max-width:380px;border:none;width:100%;height:85px" data-width="380" data-height="85"></iframe>
            <div class="widget-inputs-wrapper"><input id="input_20" class="form-hidden form-widget widget-required " type="hidden" name="q20_typeA" value="" /><input id="widget_settings_20" class="form-hidden form-widget-settings" type="hidden" data-version="2" value="%5B%7B%22name%22%3A%22theme%22%2C%22value%22%3A%22light%22%7D%5D" /></div>
            <script type="text/javascript">
              setTimeout(function()
              {
                function renderWidget()
                {
                  var _cFieldFrame = document.getElementById("customFieldFrame_20");
                  if (_cFieldFrame)
                  {
                    _cFieldFrame.onload = function()
                    {
                      if (typeof widgetFrameLoaded !== 'undefined')
                      {
                        widgetFrameLoaded(20,
                        {
                          "formID": 72746320627154
                        }, undefined)
                      }
                    };
                    _cFieldFrame.src = "//widgets.jotform.io/noCaptchaRecaptcha/?qid=20&isOpenedInPortal=undefined&isOpenedInAgent=undefined&align=Left&ref=" +
                      encodeURIComponent(window.location.protocol + "//" + window.location.host) + '' + '' + '' +
                      '&injectCSS=' + encodeURIComponent(window.location.search.indexOf("ndt=1") > -1);
                    _cFieldFrame.addClassName("custom-field-frame-rendered");
                  }
                }
                if (false)
                {
                  var _interval = setInterval(function()
                  {
                    var dataMode = document.querySelector('html').getAttribute('data-mode');
                    if (dataMode === 'fillMode')
                    {
                      renderWidget()
                      clearInterval(_interval);
                    }
                  }, 1000);
                }
                else
                {
                  renderWidget();
                }
              }, 0);
            </script>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField legacy-submit" data-component="button" data-content="">Submit</button></div>
        </div>
      </li>
      <li style="display:none">Should be Empty: <input type="text" name="website" value="" type="hidden" /></li>
    </ul>
  </div>
  <script>
    JotForm.showJotFormPowered = "old_footer";
  </script>
  <script>
    JotForm.poweredByText = "Powered by Jotform";
  </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="72746320627154" />
  <script type="text/javascript">
    var all_spc = document.querySelectorAll("form[id='72746320627154'] .si" + "mple" + "_spc");
    for (var i = 0; i < all_spc.length; i++)
    {
      all_spc[i].value = "72746320627154-72746320627154";
    }
  </script>
</form><script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.isNewSACL=true;</script>
</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
