---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Footer } from '../components/Footer.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton.jsx'
---

<Layout title="" Description="">
  <Navbar client:load />
  <div class="container mx-auto p-4">
  <h1>Quote For Onsite Embroidery Events</h1>
  

  <script>window.enableEventObserver=true</script>
<script src="https://cdn03.jotfor.ms/static/prototype.forms.js?v=3.3.60417" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/static/jotform.forms.js?v=3.3.60417" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/js/punycode-1.4.1.min.js?v=3.3.60417" type="text/javascript" defer></script>
<script src="https://cdn01.jotfor.ms/s/umd/6caf2562e66/for-widgets-server.js?v=3.3.60417" type="text/javascript"></script>
<script type="text/javascript">	JotForm.newDefaultTheme = false;
	JotForm.extendsNewTheme = false;
	JotForm.singleProduct = false;
	JotForm.newPaymentUIForNewCreatedForms = false;
	JotForm.texts = {"confirmEmail":"E-mail does not match","pleaseWait":"Please wait...","validateEmail":"You need to validate this e-mail","confirmClearForm":"Are you sure you want to clear the form","lessThan":"Your score should be less than or equal to","incompleteFields":"There are incomplete required fields. Please complete them.","required":"This field is required.","requireOne":"At least one field required.","requireEveryRow":"Every row is required.","requireEveryCell":"Every cell is required.","email":"Enter a valid e-mail address","alphabetic":"This field can only contain letters","numeric":"This field can only contain numeric values","alphanumeric":"This field can only contain letters and numbers.","cyrillic":"This field can only contain cyrillic characters","url":"This field can only contain a valid URL","currency":"This field can only contain currency values.","fillMask":"Field value must fill mask.","uploadExtensions":"You can only upload following files:","noUploadExtensions":"File has no extension file type (e.g. .txt, .png, .jpeg)","uploadFilesize":"File size cannot be bigger than:","uploadFilesizemin":"File size cannot be smaller than:","gradingScoreError":"Score total should only be less than or equal to","inputCarretErrorA":"Input should not be less than the minimum value:","inputCarretErrorB":"Input should not be greater than the maximum value:","maxDigitsError":"The maximum digits allowed is","minCharactersError":"The number of characters should not be less than the minimum value:","maxCharactersError":"The number of characters should not be more than the maximum value:","freeEmailError":"Free email accounts are not allowed","minSelectionsError":"The minimum required number of selections is ","maxSelectionsError":"The maximum number of selections allowed is ","pastDatesDisallowed":"Date must not be in the past.","dateLimited":"This date is unavailable.","dateInvalid":"This date is not valid. The date format is {format}","dateInvalidSeparate":"This date is not valid. Enter a valid {element}.","ageVerificationError":"You must be older than {minAge} years old to submit this form.","multipleFileUploads_typeError":"{file} has invalid extension. Only {extensions} are allowed.","multipleFileUploads_sizeError":"{file} is too large, maximum file size is {sizeLimit}.","multipleFileUploads_minSizeError":"{file} is too small, minimum file size is {minSizeLimit}.","multipleFileUploads_emptyError":"{file} is empty, please select files again without it.","multipleFileUploads_uploadFailed":"File upload failed, please remove it and upload the file again.","multipleFileUploads_onLeave":"The files are being uploaded, if you leave now the upload will be cancelled.","multipleFileUploads_fileLimitError":"Only {fileLimit} file uploads allowed.","dragAndDropFilesHere_infoMessage":"Drag and drop files here","chooseAFile_infoMessage":"Choose a file","maxFileSize_infoMessage":"Max. file size","generalError":"There are errors on the form. Please fix them before continuing.","generalPageError":"There are errors on this page. Please fix them before continuing.","wordLimitError":"Too many words. The limit is","wordMinLimitError":"Too few words.  The minimum is","characterLimitError":"Too many Characters.  The limit is","characterMinLimitError":"Too few characters. The minimum is","ccInvalidNumber":"Credit Card Number is invalid.","ccInvalidCVC":"CVC number is invalid.","ccInvalidExpireDate":"Expire date is invalid.","ccInvalidExpireMonth":"Expiration month is invalid.","ccInvalidExpireYear":"Expiration year is invalid.","ccMissingDetails":"Please fill up the credit card details.","ccMissingProduct":"Please select at least one product.","ccMissingDonation":"Please enter numeric values for donation amount.","disallowDecimals":"Please enter a whole number.","restrictedDomain":"This domain is not allowed","ccDonationMinLimitError":"Minimum amount is {minAmount} {currency}","requiredLegend":"All fields marked with * are required and must be filled.","geoPermissionTitle":"Permission Denied","geoPermissionDesc":"Check your browser's privacy settings.","geoNotAvailableTitle":"Position Unavailable","geoNotAvailableDesc":"Location provider not available. Please enter the address manually.","geoTimeoutTitle":"Timeout","geoTimeoutDesc":"Please check your internet connection and try again.","selectedTime":"Selected Time","formerSelectedTime":"Former Time","cancelAppointment":"Cancel Appointment","cancelSelection":"Cancel Selection","noSlotsAvailable":"No slots available","slotUnavailable":"{time} on {date} has been selected is unavailable. Please select another slot.","multipleError":"There are {count} errors on this page. Please correct them before moving on.","oneError":"There is {count} error on this page. Please correct it before moving on.","doneMessage":"Well done! All errors are fixed.","invalidTime":"Enter a valid time","doneButton":"Done","reviewSubmitText":"Review and Submit","nextButtonText":"Next","prevButtonText":"Previous","seeErrorsButton":"See Errors","notEnoughStock":"Not enough stock for the current selection","notEnoughStock_remainedItems":"Not enough stock for the current selection ({count} items left)","soldOut":"Sold Out","justSoldOut":"Just Sold Out","selectionSoldOut":"Selection Sold Out","subProductItemsLeft":"({count} items left)","startButtonText":"START","submitButtonText":"Submit","submissionLimit":"Sorry! Only one entry is allowed. <br> Multiple submissions are disabled for this form.","reviewBackText":"Back to Form","seeAllText":"See All","progressMiddleText":"of","fieldError":"field has an error.","error":"Error"};
	JotForm.isFormViewTrackingAllowed = true;
	JotForm.replaceTagTest = true;
	JotForm.uploadServerURL = "https://upload.jotform.com/upload";
	JotForm.clearFieldOnHide="disable";
	JotForm.submitError="jumpToFirstError";
	JotForm.isFullSource = true;

	JotForm.init(function(){
	/*INIT-START*/
if (window.JotForm && JotForm.accessible) $('input_38').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_9').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_32').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_40').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_41').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_42').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_43').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_29').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_39').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_26').setAttribute('tabindex',0);
      JotForm.alterTexts(undefined);
	/*INIT-END*/
	});

   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,{"name":"getA","qid":"1","text":"Get a FREE Quote For Your Event","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},null,{"description":"","name":"email","qid":"4","subLabel":"","text":"E-mail","type":"control_email"},null,null,null,null,{"description":"","name":"fullContact","qid":"9","subLabel":"","text":"Full Contact Name","type":"control_textbox"},null,null,null,null,null,null,null,null,null,null,{"name":"typeA","qid":"20","text":"","type":"control_widget"},null,null,{"description":"","name":"eventVenue","qid":"23","text":"Event Venue \u002F Location","type":"control_address"},null,null,{"description":"","name":"eventDetails","qid":"26","subLabel":"","text":"Event Details","type":"control_textarea","wysiwyg":"Disable"},null,{"description":"","name":"estimatedNumber","qid":"28","subLabel":"","text":"Estimated Number of Guests","type":"control_number"},{"description":"","name":"typeOf","qid":"29","subLabel":"","text":"Type of product\u002Fproducts to be customized & do you need us to provide blanks such as hats, beanies, bandanas, etc.?","type":"control_textbox"},null,{"name":"divider","qid":"31","type":"control_divider"},{"description":"","name":"directPhone","qid":"32","subLabel":"","text":"Direct Phone Number","type":"control_textbox"},null,null,null,null,{"name":"eventDate","qid":"37","text":"Event Date \u002F Dates","type":"control_widget"},{"description":"","name":"eventHours","qid":"38","subLabel":"","text":"Event Hours and what time would you need us to be set up (we charge by the hour) ","type":"control_textbox"},{"description":"","name":"whatThread39","qid":"39","subLabel":"","text":"What thread color\u002Fcolors would you like to offer (up to 8, but less colors would improve efficiency)","type":"control_textbox"},{"description":"","name":"legalCompany","qid":"40","subLabel":"","text":"Legal Company Name","type":"control_textbox"},{"description":"","name":"officePhone","qid":"41","subLabel":"","text":"Office Phone Number","type":"control_textbox"},{"description":"","name":"companyPhysical","qid":"42","subLabel":"","text":"Company physical, bill to, and ship to addresses","type":"control_textbox"},{"description":"","name":"companyPrincipal","qid":"43","subLabel":"","text":"Company principal (responsible for payment too)","type":"control_textbox"}]);}, 20); 
</script>
<link href="https://cdn01.jotfor.ms/static/formCss.css?3.3.60417" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/stylebuilder/static/form-common.css?v=7a6d59e
"/>
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/nova.css?3.3.60417" />
<style type="text/css">@media print{*{-webkit-print-color-adjust: exact !important;color-adjust: exact !important;}.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}
.form-all {
  margin: 0 auto; /* Centers the form */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px; /* Adjust width as needed */
  width: 100%;
}
</style>

<link id="custom-font" type="text/css" rel="stylesheet" href="//cdn.jotfor.ms/fonts/?family=Muli" />
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/54a7a9e325d790551f8b4567.css?v=3.3.60417&themeRevisionID=57debb589a11c716be8b4567"/>
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_feature.css?3.3.60417" />
<style type="text/css">
    .form-label-left{
        width:150px;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px;
    }
    .form-all{
        width:430px;
        color:rgb(255, 255, 255) !important;
        font-family:'Muli';
        font-size:16px;
    }
</style>

<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
/*PREFERENCES STYLE*/
    .form-all {
      font-family: Muli, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: inline-block;
    float: left;
    text-align: left;
  
    }
  
    .form-line {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  
    .form-all {
      max-width: 430px;
      width: 100%;
    }
  
    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
      width: 150px;
    }
  
    .form-all {
      font-size: 16px
    }
  
    .supernova .form-all, .form-all {
      background-color: rgba(255,255,255,0.08);
    }
  
    .form-all {
      color: rgb(255, 255, 255);
    }
    .form-header-group .form-header {
      color: rgb(255, 255, 255);
    }
    .form-header-group .form-subHeader {
      color: rgb(255, 255, 255);
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
      color: rgb(255, 255, 255);
    }
    .form-sub-label {
      color: 1a1a1a;
    }
  
  .supernova {
    background-color: #000000;
  }
  .supernova body {
    background: transparent;
  }
  
    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: rgba(255, 255, 255, 0);
    }
  
      
    .supernova {
      background-repeat: no-repeat;
      background-size:cover;
      background-attachment: fixed;
      background-position: center top;
    }

      .supernova, #stage {
        background-image: none;
      }
    
      .form-all {
        background-image: none;
      }
    /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/
.form-label.form-label-auto {
        
        display: inline-block;
        float: left;
        text-align: left;
      
      }
    /* Injected CSS Code */
</style>

<form class="jotform-form" onsubmit="return typeof testSubmitFunction !== 'undefined' && testSubmitFunction();" action="https://submit.jotform.com/submit/73487434427161" method="post" name="form_73487434427161" id="73487434427161" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="73487434427161" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" /><input type="hidden" id="jsExecutionTracker" name="jsExecutionTracker" value="build-date-1737646000808" /><input type="hidden" id="submitSource" name="submitSource" value="unknown" /><input type="hidden" id="buildDate" name="buildDate" value="1737646000808" /><input type="hidden" name="uploadServerUrl" value="https://upload.jotform.com/upload" /><input type="hidden" name="eventObserver" value="1" />
  <div role="main" class="form-all">
    <ul class="form-section page-section" role="presentation">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httac htvam">
            <h2 id="header_1" class="form-header" data-component="header">Get a FREE Quote For Your Event</h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_widget" id="id_37"><label class="form-label form-label-left form-label-auto" id="label_37" for="input_37" aria-hidden="false"> Event Date / Dates </label>
        <div id="cid_37" class="form-input">
          <div data-widget-name="Dates Difference" style="width:100%;text-align:Left;overflow-x:auto" data-component="widget-field"><iframe data-client-id="532714968a621dd23e000033" title="Dates Difference" frameBorder="0" scrolling="no" allowtransparency="true" allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen" data-type="iframe" class="custom-field-frame" id="customFieldFrame_37" src="" style="max-width:300px;border:none;width:100%;height:200px" data-width="300" data-height="200"></iframe>
            <div class="widget-inputs-wrapper"><input id="input_37" class="form-hidden form-widget  " type="hidden" name="q37_eventDate" value="" /><input id="widget_settings_37" class="form-hidden form-widget-settings" type="hidden" data-version="2" value="%5B%7B%22name%22%3A%22dateFormat%22%2C%22value%22%3A%22yy-mm-dd%22%7D%2C%7B%22name%22%3A%22theme%22%2C%22value%22%3A%22Grey%22%7D%2C%7B%22name%22%3A%22resultFormat%22%2C%22value%22%3A%22Dates%20and%20Difference%22%7D%5D" /></div>
            <script type="text/javascript">
              setTimeout(function()
              {
                function renderWidget()
                {
                  var _cFieldFrame = document.getElementById("customFieldFrame_37");
                  if (_cFieldFrame)
                  {
                    _cFieldFrame.onload = function()
                    {
                      if (typeof widgetFrameLoaded !== 'undefined')
                      {
                        widgetFrameLoaded(37,
                        {
                          "formID": 73487434427161
                        }, undefined)
                      }
                    };
                    _cFieldFrame.src = "//data-widgets.jotform.io/datesDifference/?qid=37&isOpenedInPortal=undefined&isOpenedInAgent=undefined&align=Left&ref=" +
                      encodeURIComponent(window.location.protocol + "//" + window.location.host) + '' + '' + '' +
                      '&injectCSS=' + encodeURIComponent(window.location.search.indexOf("ndt=1") > -1);
                    _cFieldFrame.addClassName("custom-field-frame-rendered");
                  }
                }
                if (false)
                {
                  var _interval = setInterval(function()
                  {
                    var dataMode = document.querySelector('html').getAttribute('data-mode');
                    if (dataMode === 'fillMode')
                    {
                      renderWidget()
                      clearInterval(_interval);
                    }
                  }, 1000);
                }
                else
                {
                  renderWidget();
                }
              }, 0);
            </script>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_38"><label class="form-label form-label-left form-label-auto" id="label_38" for="input_38" aria-hidden="false"> Event Hours and what time would you need us to be set up (we charge by the hour)  </label>
        <div id="cid_38" class="form-input"> <input type="text" id="input_38" name="q38_eventHours" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_38" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_address" id="id_23" data-compound-hint="Street Address,Street Address Line 2,City,State / Province,,Postal / Zip Code,,"><label class="form-label form-label-left form-label-auto" id="label_23" for="input_23_addr_line1" aria-hidden="false"> Event Venue / Location </label>
        <div id="cid_23" class="form-input">
          <div summary="" class="form-address-table jsTest-addressField">
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_23_addr_line1" name="q23_eventVenue[addr_line1]" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="section-input_23 address-line1" placeholder="Street Address" data-component="address_line_1" aria-labelledby="label_23" value="" /></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_23_addr_line2" name="q23_eventVenue[addr_line2]" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="section-input_23 address-line2" placeholder="Street Address Line 2" data-component="address_line_2" aria-labelledby="label_23" value="" /></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-city-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_23_city" name="q23_eventVenue[city]" class="form-textbox form-address-city" data-defaultvalue="" autoComplete="section-input_23 address-level2" placeholder="City" data-component="city" aria-labelledby="label_23" value="" /></span></span><span class="form-address-line form-address-state-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_23_state" name="q23_eventVenue[state]" class="form-textbox form-address-state" data-defaultvalue="" autoComplete="section-input_23 address-level1" placeholder="State / Province" data-component="state" aria-labelledby="label_23" value="" /></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-zip-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_23_postal" name="q23_eventVenue[postal]" class="form-textbox form-address-postal" data-defaultvalue="" autoComplete="section-input_23 postal-code" placeholder="Postal / Zip Code" data-component="zip" aria-labelledby="label_23" value="" /></span></span></div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_number" id="id_28"><label class="form-label form-label-left form-label-auto" id="label_28" for="input_28" aria-hidden="false"> Estimated Number of Guests </label>
        <div id="cid_28" class="form-input"> <input type="number" id="input_28" name="q28_estimatedNumber" data-type="input-number" class=" form-number-input form-textbox" data-defaultvalue="" style="width:60px" size="5" placeholder="ex: 23" data-component="number" aria-labelledby="label_28" step="any" value="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_9"><label class="form-label form-label-left form-label-auto" id="label_9" for="input_9" aria-hidden="false"> Full Contact Name<span class="form-required">*</span> </label>
        <div id="cid_9" class="form-input jf-required"> <input type="text" id="input_9" name="q9_fullContact" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_9" required="" value="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_32"><label class="form-label form-label-left form-label-auto" id="label_32" for="input_32" aria-hidden="false"> Direct Phone Number<span class="form-required">*</span> </label>
        <div id="cid_32" class="form-input jf-required"> <input type="text" id="input_32" name="q32_directPhone" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_32" required="" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_40"><label class="form-label form-label-left form-label-auto" id="label_40" for="input_40" aria-hidden="false"> Legal Company Name </label>
        <div id="cid_40" class="form-input"> <input type="text" id="input_40" name="q40_legalCompany" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_40" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_41"><label class="form-label form-label-left form-label-auto" id="label_41" for="input_41" aria-hidden="false"> Office Phone Number </label>
        <div id="cid_41" class="form-input"> <input type="text" id="input_41" name="q41_officePhone" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_41" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_42"><label class="form-label form-label-left form-label-auto" id="label_42" for="input_42" aria-hidden="false"> Company physical, bill to, and ship to addresses </label>
        <div id="cid_42" class="form-input"> <input type="text" id="input_42" name="q42_companyPhysical" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_42" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_43"><label class="form-label form-label-left form-label-auto" id="label_43" for="input_43" aria-hidden="false"> Company principal (responsible for payment too) </label>
        <div id="cid_43" class="form-input"> <input type="text" id="input_43" name="q43_companyPrincipal" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_43" value="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_4"><label class="form-label form-label-left form-label-auto" id="label_4" for="input_4" aria-hidden="false"> E-mail<span class="form-required">*</span> </label>
        <div id="cid_4" class="form-input jf-required"> <input type="email" id="input_4" name="q4_email" class="form-textbox validate[required, Email]" data-defaultvalue="" autoComplete="section-input_4 email" size="30" data-component="email" aria-labelledby="label_4" required="" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_29"><label class="form-label form-label-left form-label-auto" id="label_29" for="input_29" aria-hidden="false"> Type of product/products to be customized &amp; do you need us to provide blanks such as hats, beanies, bandanas, etc.? </label>
        <div id="cid_29" class="form-input"> <input type="text" id="input_29" name="q29_typeOf" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_29" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_39"><label class="form-label form-label-left form-label-auto" id="label_39" for="input_39" aria-hidden="false"> What thread color/colors would you like to offer (up to 8, but less colors would improve efficiency) </label>
        <div id="cid_39" class="form-input"> <input type="text" id="input_39" name="q39_whatThread39" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" data-component="textbox" aria-labelledby="label_39" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_26"><label class="form-label form-label-left form-label-auto" id="label_26" for="input_26" aria-hidden="false"> Event Details </label>
        <div id="cid_26" class="form-input"> <textarea id="input_26" class="form-textarea" name="q26_eventDetails" cols="40" rows="6" data-component="textarea" aria-labelledby="label_26"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_31">
        <div id="cid_31" class="form-input-wide">
          <div class="divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#e6e6e6;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px"></div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_widget" id="id_20">
        <div id="cid_20" class="form-input-wide jf-required">
          <div data-widget-name="Google reCAPTCHA" style="width:100%;text-align:Left;overflow-x:auto" data-component="widget-field"><iframe data-client-id="54aa6b0c89d04cfa36000005" title="Google reCAPTCHA" frameBorder="0" scrolling="no" allowtransparency="true" allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen" data-type="iframe" class="custom-field-frame" id="customFieldFrame_20" src="" style="max-width:380px;border:none;width:100%;height:200px" data-width="380" data-height="200"></iframe>
            <div class="widget-inputs-wrapper"><input id="input_20" class="form-hidden form-widget widget-required " type="hidden" name="q20_typeA" value="" /><input id="widget_settings_20" class="form-hidden form-widget-settings" type="hidden" data-version="2" value="%5B%7B%22name%22%3A%22theme%22%2C%22value%22%3A%22light%22%7D%5D" /></div>
            <script type="text/javascript">
              setTimeout(function()
              {
                function renderWidget()
                {
                  var _cFieldFrame = document.getElementById("customFieldFrame_20");
                  if (_cFieldFrame)
                  {
                    _cFieldFrame.onload = function()
                    {
                      if (typeof widgetFrameLoaded !== 'undefined')
                      {
                        widgetFrameLoaded(20,
                        {
                          "formID": 73487434427161
                        }, undefined)
                      }
                    };
                    _cFieldFrame.src = "//widgets.jotform.io/noCaptchaRecaptcha/?qid=20&isOpenedInPortal=undefined&isOpenedInAgent=undefined&align=Left&ref=" +
                      encodeURIComponent(window.location.protocol + "//" + window.location.host) + '' + '' + '' +
                      '&injectCSS=' + encodeURIComponent(window.location.search.indexOf("ndt=1") > -1);
                    _cFieldFrame.addClassName("custom-field-frame-rendered");
                  }
                }
                if (false)
                {
                  var _interval = setInterval(function()
                  {
                    var dataMode = document.querySelector('html').getAttribute('data-mode');
                    if (dataMode === 'fillMode')
                    {
                      renderWidget()
                      clearInterval(_interval);
                    }
                  }, 1000);
                }
                else
                {
                  renderWidget();
                }
              }, 0);
            </script>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField legacy-submit" data-component="button" data-content="">Submit</button></div>
        </div>
      </li>
      <li style="display:none">Should be Empty: <input type="text" name="website" value="" type="hidden" /></li>
    </ul>
  </div>
  <script>
    JotForm.showJotFormPowered = "old_footer";
  </script>
  <script>
    JotForm.poweredByText = "Powered by Jotform";
  </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="73487434427161" />
  <script type="text/javascript">
    var all_spc = document.querySelectorAll("form[id='73487434427161'] .si" + "mple" + "_spc");
    for (var i = 0; i < all_spc.length; i++)
    {
      all_spc[i].value = "73487434427161-73487434427161";
    }
  </script>
</form><script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.isNewSACL=true;</script>


</div>
  <Footer />
  <ScrollUpButton client:load />
</Layout>
